*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #27201D;
  padding: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.logo {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 2.5rem auto; }

.toggle {
  display: none;
  -webkit-box-sizing: 100%;
  box-sizing: 100%;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  text-align: left; }

h1 {
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  font-style: italic;
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (min-width: 760px) {
    h1 {
      text-align: center;
      font-size: 1.5rem; } }

h2 {
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem; }

.btn {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #796654;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  margin: 4rem auto; }
  .btn:hover {
    background-color: #796654; }
  @media screen and (min-width: 760px) {
    .btn {
      width: 300px;
      margin: 6rem auto 8rem; } }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 8rem; }
  @media screen and (min-width: 760px) {
    .article {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.media {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }

.content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%; }
  @media screen and (min-width: 760px) {
    .content {
      padding: 0 0 0 2rem; } }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

img {
  width: 100%;
  margin-bottom: 2rem; }

p, ol, ul {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem; }

.link {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  border-bottom: 2px solid #796654;
  padding-bottom: 5px; }
  .link:hover {
    padding-bottom: 5px;
    color: #917B65; }

ul > li {
  margin-left: 1.25rem; }

ol > li {
  margin-left: 2rem; }

ol {
  list-style-type: decimal-leading-zero; }

.dwm {
  max-width: 50px;
  width: 100%;
  display: block;
  margin: 1rem auto; }

  nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 16px 24px;*/
    /*padding: 0px 24px 16px 24px;*/
    padding-bottom: 40px;
    color: #FFFFFF;
  }

  .logo {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav-links {
    display: flex;
    gap: 32px;
  }

  .nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.2s ease;
    border-bottom: 2px solid transparent;
    color: #FFFFFF;
  }

  .nav-links a:hover {
    border-bottom: 2px solid #796654;
  }

  .menu-toggle {
    display: none;
    background: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    color: #FFFFFF;
  }

  .menu-toggle:hover {
    border-bottom: 2px solid #796654;
  }

  a.selected {
    border-bottom: 2px solid #796654;
  }


  /* Mobile styles */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 140px;
      left: 0;
      width: 100%;
      padding: 40px 0;
      border-top: 1px solid #796654;
      background-color: #27201D;
    }

    .nav-links.show {
      display: flex;
    }

    .nav-links a {
      margin: 16px 0;
      font-size: 1rem;
      border; 1
    }

    .menu-toggle {
      display: block;
    }
  }
